
<%# SECTION FIVE ENTERTAINMENT %>
  <h2 class="container-profile">
    <%= t('.entertain') %>
  </h2>
  <p class="container-profile">
    <%= t('.entertain-text') %> <br />
    <%= t('.entertain-text-2') %> <br />
    <%= t('.entertain-text-3') %>
  </p>
  <h3 class="container-profile"><%= t('.entertain-social') %> <a href="https://open.spotify.com/playlist/37i9dQZF1E36zKKdHVALkW" target="_blank" aria-label="about my spotify" class="icon-contact without-decoration"><i class="fab fa-spotify"></i> </a> <%= t('.entertain-social-2') %></h3>

  <ul class="container-profile mt-5">
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kendrick-lamar/Good-kid-m-a-a-d-city-deluxe-0version" aria-label="Read more about that song">Good Kid Mad City</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Stromae/Racine-carree" aria-label="Read more about that song">Racine Carrée</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/2pac/Me-against-the-world" aria-label="Read more about that song">Me Against the World</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Baco-exu-do-blues/Bluesman" aria-label="Read more about that song">Bluesman</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kanye-west/My-beautiful-dark-twisted-fantasy" aria-label="Read more about that song">My Beautiful Dark Twisted Fantasy</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Dave/Psychodrama" aria-label="Read more about that song">Psychodrama</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/Barikad-crew-goumen-pou-saw-kwe-lyrics#primary-album" aria-label="Read more about that song">Goumen Pou saw kwè</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-steve-brunache/Chimen-limye-remastered" aria-label="Read more about that song">Chimen Limyè</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Kanye-west/Late-registration" aria-label="Read more about that song" >Late Registration</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Lauryn-hill/The-miseducation-of-lauryn-hill" aria-label="Read more about that song" >The Miseducation of Lauryn Hill</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Nas/Illmatic" aria-label="Read more about that song" >Illmatic</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Fababy/La-force-du-nombre" aria-label="Read more about that song">La Force du Nombre</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Lino/Requiem" aria-label="Read more about that song">Requiem</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/Zenglen-5-kontinan-lyrics#primary-album" aria-label="Read more about that song">Let it Groove</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/albums/La-fouine/Aller-retour" aria-label="Read more about that song">Aller Retour</a></li>
    <li class="checked"><span class="tick"></span><a target="_blank" href="https://genius.com/Fugees-the-score-lyrics" aria-label="Read more about that song">The Score</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Alicia-keys/Songs-in-a-minor" aria-label="Read more about that song">Songs In a Minor</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://en.wikipedia.org/wiki/Un_tour_ensemble" aria-label="Read more about that song">Un Tour Ensemble</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song">Noir Désir</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Michael-jackson/Invincible" aria-label="Read more about that song">Invincible</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Scylla/Masque-de-chair" aria-label="Read more about that song">Masque de Chair</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://www.shazam.com/artist/41380788/rodrigue-milien" aria-label="Read more about that song">Les Meilleurs Boléros d´haiti</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/The-notorious-big/Life-after-death" aria-label="Read more about that song">Life after Death</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://konpa.info/detail.php?search=101466&so0=is&col=kno&_ds=1&p=0" aria-label="Read more about that song">Les titres d'or</a></li>  
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Nina-simone/Nina-at-the-villiage-gate" aria-label="Read more about that song" >At the Village Gate</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Marvin-gaye/I-want-you" aria-label="Read more about that song" >I Want You</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/The-last-poets/The-last-poets" aria-label="Read more about that song" >The Last Poets</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Cesaria-evora/Anthology" aria-label="Read more about that song" >Anthology</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Tyler-the-creator/Igor" aria-label="Read more about that song" >IGOR</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Wu-tang-clan/Enter-the-wu-tang-36-chambers" aria-label="Read more about that song" >Enter the Wu Tang 36 Chambers</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/John-mayer/Continuum" aria-label="Read more about that song" >Continuum</a></li>
    <li><span class="tick"></span><a target="_blank" href="https://genius.com/albums/Racionais-mcs/Nada-como-um-dia-apos-o-outro-dia-disco-2-ri-depois" aria-label="Read more about that song" >Nada como um dia Após o outro Dia</a></li>        
  </ul>

  <div class="custom-shape-divider-top-1612619083">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>