<%# SECTION PROJECT  %>

<div class="section-four position-relative">
  <h2 class="container-profile project">
    <%= t('.project') %>
  </h2>
  <div class="row align-items-center justify-content-between">

    <div class="project-content">
      <h2>
        <%= t('.project-title') %>
      </h2>
      <p>
        <%= t('.project-text') %>
      </p>
      <ul>
        <li>AJAX</li>
        <li>SQL</li>
        <li>MVC Pattern</li>
      </ul>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">

      <div class="showcase">
        <div class="card card-1">
          <%= image_tag 'first_child.jpg', alt:"Project Image", class: " image-project" %>
        </div>
        <div class="card card-2">
          <%= image_tag 'second_child.jpg', alt:"Project Image", class: " image-project" %>
        </div>
        <div class="card card-3">
          <%= image_tag 'third_child.png', alt:"Project Image", class: " image-project" %>
        </div>
      </div>

    </div>
  </div>

  <div class="custom-shape-divider-top-1612398373">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
</div>